<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index, follow" />
  <meta name="theme-color" content="#000" />
  <meta name="description"
    content="Vinod Jangid | Portfolio, Visit and know about me & my projects/designs. I value simple content structure, clean design patterns, and thoughtful interactions." />
  <meta name="keywords"
    content="vinod jangid,vinod jangid portfolio,Vinod Jangid Portfolio,vinodjangid,vinod jangid site,Vinod Jangid Site,vinod jangid me,vinod jangid web,vinod jangid github,vinodjangid site,vinodjangid uiverse,uiverse,vinod jangid uiverse,vinod jangid frontend developer,frontend developer,vinod jangid jaipur,vinod jaipur" />
  <meta name="author" content="Vinod Jangid" />
  <meta property="og:image" content="/images/Preview-card-min.png" />
  <meta property="og:title" content="Vinod Jangid | Portfolio" />
  <meta property="og:description"
    content="Hi! My name is Vinod. I'm a web developer and digital visual artist. Visit and know about me & my projects/designs. I value simple content structure, clean design patterns, and thoughtful interactions." />
  <meta property="og:url" content="https://vinodjangid.site" />
  <meta property="og:site_name" content="Vinod Jangid Portfolio" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@Vinod_Jangid07" />
  <meta name="twitter:title" content="Vinod Jangid | Portfolio" />
  <meta name="twitter:description"
  content="Hi! My name is Vinod. I'm a web developer and digital visual artist. Visit and know about me & my projects/designs. I value simple content structure, clean design patterns, and thoughtful interactions." />
  <meta name="twitter:image" content="/images/Preview-card-min.png" />
  <title>Vinod Jangid | Portfolio</title>
  <link rel="icon" type="image/x-icon" href="/images/main-favicon.png" />
  <!-- aos cdn -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!-- stylesheet -->
  <link rel="stylesheet" href="/css/style.css" />
  <!-- google fonts-->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Passions+Conflict&family=Orbitron&family=Fira+Code&family=Six+Caps" />
</head>